<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/newspaper.css">
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/nav') %>
  <main class="main-content">
    <%- body %>
  </main>
<%- include('partials/footer') %>
<script src="/js/script.js"></script>
</body>
</html>